.lbl{
    margin-left: 10px;
    font-size:medium;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* margin-left: 5em; */
    /* color: #db0bd1; */
    font-weight: 400;
    /* padding: 4em; */
}

